{% extends "layout.html" %}
{% include "pageMacros.html" %}

{# the bodyClass block allows us to attach a classname to the body tag for easy style-scoping. #}
{# be sure to call super() so that any pages inheriting this one will be appending classes, not overriding them. #}
{% block bodyClass %}{{ super() }} default-page{% endblock %}

{% block headerMessage %}You are on the "Default Page" template of the Apostrophe demo site.{% endblock %}

{% block upperClass %}bg-gold{% endblock %}


{# Headless template for the 'About us' page.#}
{% block mainContent %}
  <div class="block content">
    <div class="inner ">
      
      <div class="block content--bottom">
        <div class="inner demo-pageheader">
          {{ aposArea(page, 'main',{
            controls: ['style', 'bold', 'italic', 'createLink', 'unlink', 'slideshow', 'video'],
            styles: [
              { value: 'p', label: 'Text' },
              { value: 'h3', label: 'Title' },
              { value: 'h5', label: 'Subtitle' }
            ],
            lockups: ['left', 'right']
          }) }}
        </div>
      </div>
      
    </div>
  </div>
{% endblock %}
